@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div ng-controller="TestCtrl as model" class="text-center">
    <h1 class="display-4">{{model.title}}</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="~/app/controller/TestCtrl.js"></script>
